In [83]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
df=pd.read_csv("/kaggle/input/audi-a1-listings/Audi_A1_listings.csv")
df.head(3)

df=df.drop(columns=["index","href","MileageRank","PriceRank","PPYRank","Score"])
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),PPY
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [84]:
df.info

<bound method DataFrame.info of        Year       Type  Mileage(miles) Engine          PS Transmission  \
0    2018.0  Hatchback         44000.0   1.6L  114.398422       Manual
1    2016.0  Hatchback         42596.0   1.0L   93.688363       Manual
2    2015.0  Hatchback         42700.0   1.4L  123.274162       Manual
3    2014.0  Hatchback         86000.0   1.6L  103.550296       Manual
4    2014.0  Hatchback        104310.0   1.6L  103.550296       Manual
..      ...        ...             ...    ...         ...          ...
466  2014.0  Hatchback         40195.0   1.4L  138.067061    Automatic
467  2020.0  Hatchback         26218.0   1.0L  114.398422       Manual
468  2017.0  Hatchback         48571.0   1.4L  123.274162       Manual
469  2020.0  Hatchback          9584.0   1.0L   93.688363       Manual
470  2019.0  Hatchback         17303.0   1.0L  114.398422       Manual

       Fuel  Number_of_Owners  Price(£)          PPY
0    Diesel                 1   14995.0  2499.166667
1    Petrol                 3   10755.0  2688.750000
2    Petrol                 2   10799.0  3599.666667
3    Diesel                 3    7490.0  3745.000000
4    Diesel                 3    7400.0  3700.000000
..      ...               ...       ...          ...
466  Petrol                 3   11275.0  5637.500000
467  Petrol                 1   18495.0  2311.875000
468  Petrol                 2   11995.0  2399.000000
469  Petrol                 1   19970.0  2496.250000
470  Petrol                 1   17195.0  2456.428571

[471 rows x 10 columns]>

In [85]:
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),PPY
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [86]:
df.columns=["yil","kasa","mil","motor","ps","vites","yakit","sahip","fiyat","ppy"]
df.head(3)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat,ppy
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [87]:
df["motor"] = df["motor"].astype(str)
df["motor"] = df["motor"].str.replace("L", "")  # "L" harfini kaldır
df["motor"] = pd.to_numeric(df["motor"])

In [88]:
df.head(3)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat,ppy
0,2018.0,Hatchback,44000.0,1.6,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [89]:
df=pd.get_dummies(df,columns=["kasa","vites","yakit"],drop_first=True, dtype=int)
df.head(3)

,yil,mil,motor,ps,sahip,fiyat,ppy,vites_Manual,yakit_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,2499.166667,1,0
1,2016.0,42596.0,1.0,93.688363,3,10755.0,2688.750000,1,1
2,2015.0,42700.0,1.4,123.274162,2,10799.0,3599.666667,1,1

In [90]:
y=df[["fiyat"]]
x=df.drop("fiyat",axis=1) #axis=1 sütunlardan fiyatı sil demek

In [91]:
lm = LinearRegression()
model=lm.fit(x,y)
model.predict([[2017,30000,1.6,110,1,2600,0,1]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[13145.9080419]])